<html>
  <head>
    <title> Todo app  </title>
    <link href="/styles.css" rel="stylesheet">
  </head>
<body>
  <div class="container">
     <h2> Simple Todo app </h2>
<form action ="/addtask" method="POST">
       <input type="text" name="newtask" placeholder="add new task">        <button> Add Task </button>
    <h2> Added Task </h2>
<button formaction="/removetask" type="submit"> Remove </button>
</form>
    <h2> Completed task </h2>
    <button formaction="/removetask" type="submit"> Remove </button>

</div>

</body>
</html>